<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
 
    <style type="text/css">

         .pane  {
      /*background-image: url("./img/1.jpg");*/
    }


      .platform-ios .manual-ios-statusbar-padding{
        padding-top:100px;
      }
      .manual-remove-top-padding{
        padding-top:0px; 
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
     .fondo{
        background: url("./img/1.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /*background-image: url("./img/1.jpg");*/
    }
        .fondoBlanco{
background-color: white;
    }
    </style>

    
  <!-- Angular Material -->

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    
    <!-- Angular Material -->

    
    <!-- Controllers, servicios y ¿directivas? -->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic/css/styles.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
      
    <script src="./server/app.js"></script>
    <script src="./client/controllers/perfilControllers.js"></script>
    <script src="./client/controllers/calendarioController.js"></script>
    <script src="./client/controllers/reservasController.js"></script>
    <script src="./client/controllers/torneoController.js"></script>
    <script src="./client/controllers/pagoTarjetaController.js"></script>
    <script src="./client/controllers/loginController.js"></script>
    <script src="./client/controllers/indexController.js"></script>
    <script src="./server/routes/routes.js"></script>
    <script src="./client/directives/directives.js"></script>
    <script src="./client/services/services.js"></script>
    
    <!-- Controllers, servicios y ¿directivas? -->
     

    <!-- Jquery/bootstrap -->

    <script src="./client/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./client/bower_components/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <!-- Jquery/bootstrap -->


    <!-- Otros scripts --> 
    <link rel="stylesheet" href="http://code.ionicframework.com/1.1.1/css/ionic.min.css">
    <link rel="stylesheet" href="./client/bower_components/ionic-calendar/dist/css/calendar.min.css">
    <script src="http://code.ionicframework.com/1.1.1/js/ionic.bundle.min.js"></script>
    <script src="./client/bower_components/ionic-calendar/dist/js/calendar-tpls.js"></script>
    <!-- Otros scripts -->


  </head>
  <body ng-app="app" ng-controller="indexCtroller" animation="slide-left-right-ios7">
  <div>
    <ion-side-menus enable-menu-with-back-views="true">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            
            <ion-nav-view></ion-nav-view>
            
        </ion-side-menu-content>
        <ion-side-menu side="left" enable-menu-with-back-views="false">
            <ion-header-bar class="bar-stable">
                <div class="title">Menu</div>
            </ion-header-bar>
            <ion-content padding="false" class="side-menu-left has-header">
                <ion-list id="listItems" data-componentid="list2">
                    <ion-item menu-close="" class="item-icon-left" id="menu-list-item-canchas" data-componentid="list-item-canchas" href="#/canchas">
                        <i class="icon ion-ios-football-outline"></i>Canchas</ion-item>
                    <ion-item menu-close="" ng-show="loggeado" class="item-icon-left" id="menu-list-item-torneos" data-componentid="list-item-torneos" href="#/perfil">
                        <i class="icon ion-android-contact"></i>Perfil</ion-item>
                    <!-- <ion-item menu-close="" class="item-icon-left" id="menu-list-item-torneos" data-componentid="list-item-torneos" href="#/perfilNo">
                        <i class="icon ion-android-contact"></i>Perfil NO</ion-item>     -->                    
                    <ion-item menu-close="" class="item-icon-left" id="menu-list-item-torneos" data-componentid="list-item-torneos" href="#/torneos">
                        <i class="icon ion-trophy"></i>Torneos</ion-item>
                    <ion-item menu-close="" ng-show="loggeado" class="item-icon-left" id="menu-list-item-reservas" data-componentid="list-item-reservas" href="#/misreservas" ng-click="schedulear()">
                        <i class="icon ion-calendar"></i>Mis reservas</ion-item>
                    <ion-item menu-close="" class="item-icon-left" id="menu-list-item-contacto" data-componentid="list-item-contacto" href="#/contacto">
                        <i class="icon ion-ios-telephone"></i>Contacto</ion-item>
                    <ion-item menu-close="" ng-hide="loggeado" class="item-icon-left" id="menu-list-item-login" data-componentid="list-item-login" href="#/login">
                        <i class="icon ion-ios-login"></i>Login</ion-item>
                    <ion-item menu-close="" ng-show="loggeado" class="item-icon-left" id="menu-list-item-login" data-componentid="list-item-login" ng-click="cerrarSesion()">
                        <i class="icon ion-ios-login"></i>Cerrar Sesión</ion-item>
                </ion-list>

            </ion-content>
        </ion-side-menu>
    </ion-side-menus>

  </div>

  </body>
    
</html>
