<ion-modal-view>
	<ion-content scroll="true" class="fondo colorText">

		<md-divider></md-divider>
		<md-subheader class="md-no-sticky fondoDReserva">Datos Torneo</md-subheader>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-25" style="text-align:center" layout="column">
				<b>Inicio</b>
			</div>
			<div class="col">
				<b>01/10/2016</b>
			</div>
			<div class="col-25" style="text-align:center" layout="column">
			<b>Fín</b>
			</div>
			<div class="col">
				<b>01/12/2017</b>
			</div>
		</div>

		<div class="row" layout="row" layout-align="center center">

			<div class="col-25" style="text-align:center" layout="column">
				<b>Jugadores: </b>
			</div>
			<div class="col" layout="column">
				<b>10</b>
			</div>
			<div class="col-25" style="text-align:center" layout="column">
				<b>Inscripción: </b>
			</div>
			<div class="col" layout="column">
				<b>$2000</b>
			</div>

		</div>

		<div class="row" layout="row" layout-align="center center" >

			<div class="col-25" style="text-align:center" layout="column">
				<b>Titulares</b>
			</div>
			<div class="col" layout="column">
				<b>6</b>
			</div>
			<div class="col-25" style="text-align:center" layout="column">
				<b>Por partido: </b>
			</div>
			<div class="col" layout="column">
				<b>$500</b>
			</div>

		</div>

		<div class="row" layout="row" layout-align="center center">

			<div class="col-25" style="text-align:center" layout="column">
				<b>Suplente</b>
			</div>
			<div class="col" layout="column">
				<b>4</b>
			</div>
			<div class="col-25" style="text-align:center" layout="column">
				<b>Formato: </b>
			</div>
			<div class="col" layout="column">
				<b>Liga</b>
			</div>

		</div>

		<div class="row" layout="row" layout-align="center center">

			<div class="col-25" style="text-align:center" layout="column">
				<b>Equipos</b>
			</div>
			<div class="col" layout="column">
				<b>10</b>
			</div>

		</div>
		<md-divider></md-divider>
		<md-subheader class="md-no-sticky fondoDReserva">Jugadores</md-subheader>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<b>DNI</b>
			</div>
			<div class="col" layout="column">
				<b>Nombre</b>
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<div class="row" layout="row" layout-align="center center">
			<div class="col-20" style="text-align:center" layout="column">
				<input type="text" style="text-align:center">
			</div>
			<div class="col" layout="column">
				<input type="text" style="text-align:center">
			</div>
		</div>
		<md-divider></md-divider>
		<md-subheader class="md-no-sticky fondoDReserva">Pago</md-subheader>



		<div class="row" layout="row" layout-align="center center" ng-hide="reserva.importeAdeudado <= 0">
			<div class="col" layout="column">
				<button class="button button-positive" ng-click="openPago()">Pagar con tarjeta</button>
			</div>

		</div>

		<div class="row" layout="row" layout-align="center center">
			<button class="button button-block button-assertive" ng-click="closeReserva()">Cerrar</button>
		</div>
	</ion-content>
</ion-view>

<style type="text/css">
	.fondoDReserva{
        background-color: green;
        color:white;
        size:100px;
	}
	.colorText{
	color:white;	
	}
	.dotted {
		background-color: white;
		width: 10px;
	}
</style>