<ion-modal-view>
	<ion-content class ="has-header fondo" scroll="true" ng-controller="pagoTarjetaCtroller">
		

		<md-subheader class="md-no-sticky fondoDReserva">Pagar con tarjeta</md-subheader>
		<div layout="row" layout-align="center center">
			<md-input-container class="fondoPago">
		        <label >Nombre del titular</label>
		        <input required ng-model="user.nombretitular">
		        <div ng-message="required">Campo obligatorio</div>
	      	</md-input-container>
		</div>

		<div layout="row" layout-align="center center">
			<md-input-container class="fondoPago">
		        <label >Número de tarjeta</label>
		        <input md-maxlength="20" required ng-model="user.numero" >
		        <div ng-message="required">Campo obligatorio</div>
	      	</md-input-container>
		</div>

		<div layout="row" layout-align="center center" layout-margin>

			<div layout="column" flex="33">
				<md-input-container class="fondoPago">
			        <label >MM</label>
			        <input md-maxlength="2" required ng-model="user.mm" >
			        <div ng-message="required">Campo obligatorio</div>
		      	</md-input-container>
	      	</div>
	      		/
	      	<div layout="column" flex="33">
				<md-input-container class="fondoPago">
			        <label >AA</label>
			        <input md-maxlength="2" required ng-model="user.aa" >
			        <div ng-message="required">Campo obligatorio</div>
		      	</md-input-container>
	      	</div>

	      	<div layout="column" flex="33">
				<md-input-container class="fondoPago">
			        <label >CSV</label>
			        <input md-maxlength="4" required ng-model="user.csv" >
			        <div ng-message="required">Campo obligatorio</div>
		      	</md-input-container>
	      	</div>


		</div>

		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
	      <md-button class="md-raised md-primary">Confirmar</md-button>
	      <md-button class="md-raised md-warn" ng-click="closePago()">Cerrar</md-button>
  	    </section>
		
	</ion-content>
</ion-view>

<style type="text/css">
	.fondoPago{
		background-color: green;
	}
	.fondoDReserva{
        background-color: green;
        color:white;
        size:100px;
	}

.fondoPago{
	background-color: white;
	border-radius: 15px;
}
</style>