<ion-view title="Contacto">
<tr>
<td>
    <ion-content scroll="true">
            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <div class="row">
                        <img class="img-perfil" src="img/escudo.png">
                    </div>
                    <div style="text-align:center;">
                        <h3>Club Tiro Libre</h3>
                    </div>
                    <div style="text-align:center;">
                        <h5>Telefono: 15-5-222-2222</h5>
                    </div>
                    <div style="text-align:center;">
                        <h5>Mail: zaraza@gmail.com</h5>
                    </div>
                    <div style="text-align:center;">
                        <h5>Dirección zaraza 1234</h5>
                    </div>
                </div>
                <div class="col-25"></div>
            </div>
</td>

</ion-view>     

<style type="text/css">
    h3, h5{
        color:white;
    }

    .pane, .view {
        background-image: url("./img/1.jpg");

    }
    .img-perfil{
        margin-top: 20px;
        width: 180px;
        height: 180px;
    }



</style>