<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">Integrantes</h1>
   </ion-header-bar>
	
   <ion-content>

		<a class="item item-icon-left">
			<i class="icon ion-ios-contact"></i>
			<h2>Pytel, Marcos</h2>
			<p><i class="item ion-star">Delantero</i></p>
		</a>
		<a class="item item-icon-left">
			<i class="icon ion-ios-contact"></i>
			<h2>Mancuso, Nicolás</h2>
			<p><i class="item ion-star">Mediocampista</i></p>
		</a>
		<a class="item item-icon-left">
			<i class="icon ion-ios-contact"></i>
			<h2>Ponce Andrés, Guillermo</h2>
			<p><i class="item ion-star">Lateral Derecho</i></p>
		</a>
		<a class="item item-icon-left">
			<i class="icon ion-ios-contact"></i>
			<h2>Ponce Andrés, Alejo</h2>
			<p><i class="item ion-star">Lateral Izquierdo</i></p>
		</a>
		<a class="item item-icon-left">
			<i class="icon ion-ios-contact"></i>
			<h2>Larrategui, Fernando</h2>
			<p><i class="item ion-star">Arquero</i></p>
		</a>

		<div class="button-bar">
		  <a class="button button-positive">Agregar jugador</a>
		  <a class="button button-assertive" ng-click="closeIntegrantes()">Cerrar</a>
		</div>

   </ion-content>

</ion-modal-view>