<ion-view title="Iniciar Sesion" class="fondo">
    <ion-content padding="true" class="has-header">
        <div class="col-md-4 loginText">
          <h1 class="loginText">Iniciar Sesión</h1>
            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <form class="form" ng-submit="login()">
                <div class="form-group-conf">
                    <label><B>Username</B></label>
                    <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
                </div>
                <div class="form-group-conf">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
                </div>
                <div align="right">
                    <h1></h1>
                    <button type="submit" class="button button-positive" ng-disabled="disabled">Iniciar</button>
                </div>    
                <div class="form-group-conf" align="center">
                    <a class="form-group-conf" ui-sref="resetpass" role="button" ><h4 class="loginText"><B>Restablecer contraseña</B></h4></a>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>

<style type="text/css">
    .loginText{
        color: white;
    }
</style>