<ion-view>
	<ion-content>
		<div class="list">

			<div class="item item-divider" style="text-align:center;">
			   Datos Personales
			</div>
	
		    <a class="item item-icon-left" href="#">
		      <i class="icon ion-ios-contact"></i>
		      <h2>Nombre</h2>
		      <p>Piñeyro, Miguel Ángel</p>
		    </a>
		    <a class="item item-icon-left" href="#">
		      <i class="icon ion-ios-telephone"></i>
		      	<div class="row">
		      		<div class="col-90">
		      			<h2>Teléfono</h2>
		      			<p>1556885929</p>
		      		</div>
		      		<div class="col-10">
		      			<button class="button button-small button-positive">
						    Editar
			    		</button>
		      		</div>
		      	</div>
		    </a>

		    <a class="item item-icon-left" href="#">
		      <i class="icon ion-ios-email"></i>
		      	<div class="row">
		      		<div class="col-90">
		      			<h2>Mail</h2>
		      			<p>miguelpineyro@gmail.com</p>
		      		</div>
		      		<div class="col-10">
		      			<button class="button button-small button-positive">
						    Editar
			    		</button>
		      		</div>
		      	</div>
		    </a>

			<div class="item item-divider" style="text-align:center;">
			   Preferencias
			</div>

			<a class="item item-icon-left" href="#">
		      <i class="icon ion-heart"></i>
		      <h2>Equipo</h2>
		      <p>Sportivo Dock Sud</p>
		    </a>
		    <a class="item item-icon-left" href="#">
		      <i class="icon ion-star"></i>
		      <h2>Jugador Preferido</h2>
		      <p>Javier Gandolfi</p>
		    </a>
		    <a class="item item-icon-left" href="#">
		      <i class="icon ion-easel"></i>
		      <h2>Posición</h2>
		      <p>Lateral Derecho</p>
		    </a>

		</div>
	</ion-content>
</ion-view>
