<ion-view>
	<ion-content>
		<div class="list card">

		  <div class="item item-icon-left">
		    <i class="icon ion-star"></i>
		    <h2>Pinocho B</h2>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="img/pinocho.jpg">
		    <p>
		      Formado en 2016 por un grupo de aburridos con el objetivo de hacer una aplicación para la facultad
		    </p>
		    <p>
		      <button ng-click="openIntegrantes()" class="button button-full button-positive">
		      	Ver Integrantes
		      </button>
		    </p>
		  </div>

		</div>
	</ion-content>
</ion-view>