<ion-view title="Registración" id="page2">
    <ion-content padding="true" class="has-header">
        <form name="formRegistracion" class="list">
            <div class="list list-inset registracion">

              <label class="item item-input item-stacked-label">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="jlopez">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="Juan">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="Lopez">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">DNI</span>
                <input type="number" placeholder="33444555">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Mail</span>
                <input type="text" placeholder="jlopez@gmail.com">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">DNI</span>
                <input type="number" placeholder="152223333">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Fecha de Nacimiento</span>
                <input type="date" placeholder="02/02/1990">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Contraseña</span>
                <input type="password">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Repetir Contraseña</span>
                <input type="password">
              </label>
                <input id="input-1" type="file" class="file" text="asdas">
              <button class="button button-full  buttonReg">Crear usuario</button>
            </div>
        </form>
    </ion-content>
</ion-view>



<style type="text/css">
.registracion{
   background-color: white;
   opacity: 0.9;  
   color: red;    
}


.buttonReg{
    background-color: green;
    border-color: green;
    color: white;
}
</style>