<script>
var app = angular.module('myApp', []);
myApp.filter('yesNo', function () {
  return function (boolean) {
    return boolean ? 'Ok' : 'No';
  }
});
</script>


<h1>Torneos</h1>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#pagoTarjeta">Pagar</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevoTorneo">Nuevo Torneo</button>

<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#nuevaInvitacion">Invitar a Torneo</button>

<!-- Invitación a torneos -->
<div id="nuevaInvitacion" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Enviar invitaciones</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <button class="btn btn-info" id="">Seleccionar todo</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="well" style="max-height: 300px;overflow: auto;">
                <ul id="check-list-box" class="list-group checked-list-box">
                  <li class="list-group-item" data-color="success">Usuario 1</li>
                  <li class="list-group-item" data-color="success">Usuario 2</li>
                  <li class="list-group-item" data-color="success">Usuario 3</li>
                  <li class="list-group-item" data-color="success">Usuario 4</li>
                  <li class="list-group-item" data-color="success">Usuario 5</li>
                  <li class="list-group-item" data-color="success">Usuario 6</li>
                  <li class="list-group-item" data-color="success">Usuario 7</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="comment">Texto en la invitación</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label class="control-label">Seleccionar flyer</label>
                <input id="input-1" type="file" class="file">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6 text-center">
                <button class="btn btn-primary col-xs-12" id="get-checked-data">enviar</button>
              </div>
            </div>      
          </div>
    </div>
    <!-- Modal content-->
  </div>
</div>
<!-- Modal Torneo -->

<!-- Manejo de inputs -->
<script type="text/javascript">
  $("#input-1").fileinput(
    {'showUpload':true,
     'previewFileType':'any'});

</script>





<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr class='danger'>
      <td align="center"><B>Nombre</B></td>
      <td align="center" width=150px><B>Desde el día</B></td>
      <td align="center" width=150px><B>Hasta el día</B></td>
      <td align="center" width=150px><B>Estado</B></td>
      <td align="center" width=50px><B>Anotados</B></td>
      <td class="col-sm-3" align="center"><B>Opciones</B></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="torneo in torneos | filter:search" class='info'>
      <td>{{torneo.nombre}}</td>
      <td align="center">{{torneo.fechaInicio}}</td>
      <td align="center">{{torneo.fechaFin}}</td>
      <td align="center">{{torneo.estado}}</td>
      <td align="center">{{torneo.anotados}}</td>
      <td align="center">
        <button ng-click="searchPerson(person._id);" data-toggle="modal" data-target="#personEditModal" class="btn btn-info btn-sm" >Detalles</button>
        <button ng-click="searchPerson(person._id);" data-toggle="modal" data-target="#personEditModal" class="btn btn-primary btn-sm" >Edit</button>
        <button ng-click="searchPerson(person._id);" data-toggle="modal" data-target="" class="btn btn-danger btn-sm" >Eliminar</button>
      </td>

    </tr>
      
  </tbody>
</table>

<!-- Modal Torneo -->
<div id="nuevoTorneo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Nuevo Torneo</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class='col-sm-6'>
              <label>Nombre del torneo</label>
            </div>
          </div>
          <div class="row">
            <div class='col-sm-6'>
              <input type="text" class="form-control" id="nombreTorneo" name="nombreTorneo" required="">
            </div>
          </div>
          <div class="row">
            <div class='col-sm-3'>
              <label>Fecha inicio</label>
            </div>
            <div class='col-sm-3'>
              <label>Fecha Finalización</label>
            </div>
          </div>
          <div class="row">
            <div class='col-sm-3'>
              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
            </div>
            <div class='col-sm-3'>
              <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class='col-sm-3'>
              <div class="form-group">
                <label for="time1">Horario de inicio</label>
                <div class="input-group clockpicker" id="time1" data-placement="right" data-align="top" data-autoclose="true">
                  <input type="text" class="form-control" value="15:00">
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span></span>
                </div>
              </div>
            </div>
            <div class='col-sm-3'>
              <div class="form-group">
                <label for="sel1">Formato del Torneo:</label>
                <select class="form-control" id="sel1">
                  <option>Eliminación</option>
                  <option>Liga</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class='col-sm-2'>
              <div class="form-group">
                <label for="sel1">Cantidad de equipos:</label>
                <select class="form-control" id="sel1">
                  <option>6</option>
                  <option>8</option>
                  <option>10</option>
                  <option>12</option>
                  <option>16</option>
                </select>
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label for="sel1">Jugadores por equipo:</label>
                <select class="form-control" id="sel1">
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>9</option>
                  <option>11</option>
                </select>
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label for="precio">Precio del torneo</label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" id="precio1" placeholder="precio">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 text-center">
            <button type="submit" class="btn btn-success"  data-ng-click="" data-dismiss="modal">Crear</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>      
      </div>
    </div>
    <!-- Modal content-->
  </div>
</div>
<!-- Modal Torneo -->

<script type="text/javascript">
        moment.updateLocale('es', {});
            console.log(moment.locale());
            $(function () {

                $('#datetimepicker1').datetimepicker({
                  locale: 'es',
                  format: 'DD/MM/YYYY'

                });

                $('#datetimepicker2').datetimepicker({
                  locale: 'es',
                  format: 'DD/MM/YYYY'

                });

            });
</script>

<script type="text/javascript">
$('.clockpicker').clockpicker();
</script>







<!-- Modal Pago -->
<div id="pagoTarjeta" class="modal fade" role="dialog">
	<div class="modal-dialog">
  <!-- Modal content-->
   	<div class="modal-content">
    	<div class="modal-header">
     		<button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">PAGO - TARJETA</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form name="ccForm">
            <div class="form-group">           
              <div class="container">
                <div class="col-sm-6">
                  <fieldset>
                    <form name="ccForm">
                      <div class="control-group">
                        <label label-default="" class="control-label">NOMBRE TITULAR</label>
                        <div class="controls">
                          <div class="row">
                            <div class="col-md-8">
                              <input type="text" class="form-control" pattern="\w+ \w+.*" title="Nombre y apellido" required="">
                              </div>
                          </div>  
                        </div>
                      </div>
                      <div class="control-group">
                        <label label-default="" class="control-label">Número de Tarjeta</label>
                        <div class="controls">
                          <div class="row">
                            <div class="col-md-8">
                              <input type="text" class="form-control" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="card.number" cc-format>
                            </div>
                            <div class="col-xs-3">
                              <label label-default="" class="control-label">{{ccForm.ccNumber.$ccEagerType || 'Unknown'}} : {{ccForm.ccNumber.$valid | yesNo}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="card-number">Expira</label>
                        <div class="row" cc-exp>
                          <div class="col-xs-3">
                            <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.expiration.month">
                          </div>
                          <div class="col-xs-2">
                            <input type="text" class="form-control" value="{{ccForm.ccExpMonth.$valid | yesNo}}" readonly>                   
                          </div>
                          <div class="col-xs-3">
                            <input placeholder="AA" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.expiration.year">
                          </div>
                          <div class="col-xs-2">
                            <input type="text" class="form-control" value="{{ccForm.ccExpYear.$valid | yesNo}}" readonly>                   
                          </div>
                        </div>
                      </div>
                      <div class="control-group">
                        <label label-default="" class="control-label">Código Seguridad</label>
                        <div class="controls">
                          <div class="row">
                            <div class="col-md-3">
                              <input type="text" autocomplete="off" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc">
                            </div>
                            <div class="col-xs-2">
                              <input type="text" class="form-control" value="{{ccForm.ccCvc.$valid | yesNo}}" readonly>                   
                            </div>
                            <div class="col-md-8">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="control-group">
                      <label label-default="" class="control-label"></label>
                      <div class="controls">
                        <button type="submit" class="btn btn-success">Submit</button> 
                        <button type="button" class="btn btn-danger">Cancel</button>
                      </div>
                    </div>
                  </form>
                </fieldset>
              </div>
            </div>
          </form>
        </div>	
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  
  $(function () {
    $('.list-group.checked-list-box .list-group-item').each(function () {
        
        // Settings
        var $widget = $(this),
            $checkbox = $('<input type="checkbox" class="hidden" />'),
            color = ($widget.data('color') ? $widget.data('color') : "primary"),
            style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };
            
        $widget.css('cursor', 'pointer')
        $widget.append($checkbox);

        // Event Handlers
        $widget.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });
          

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $widget.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $widget.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$widget.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $widget.addClass(style + color + ' active');
            } else {
                $widget.removeClass(style + color + ' active');
            }
        }

        // Initialization
        function init() {
            
            if ($widget.data('checked') == true) {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
            }
            
            updateDisplay();

            // Inject the icon if applicable
            if ($widget.find('.state-icon').length == 0) {
                $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
            }
        }
        init();
    });
    
    $('#get-checked-data').on('click', function(event) {
        event.preventDefault(); 
        var checkedItems = {}, counter = 0;
        $("#check-list-box li.active").each(function(idx, li) {
            checkedItems[counter] = $(li).text();
            counter++;
        });
        $('#display-json').html(JSON.stringify(checkedItems, null, '\t'));
        $('#nuevaInvitacion').modal('toggle');
    });
    

});

</script>









